<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>ADMIN LALASHOP manager</title>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.1/css/bootstrap.min.css" />
<script type="module" th:src="@{/js/admin/updateProduct.js}"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<style>
td{
	width:40%;
}
</style>
<body>
	<div th:insert="~{admin/fragments/adminFragments :: header}"></div>

	<div class="container-fluid vh-100">
		<div class="row h-100">
			<div class="col-2  bg-secondary text-white "
				th:insert="~{admin/fragments/adminFragments :: menu}"></div>


			<div class="col-10 text-white content">
				<div class="container col-10 mx-auto">
					<H2 style="color: black">Thêm sản phẩm</H2>

					<table class="table container">
						<tbody>
							<tr>
								<td class="col-3">ảnh</td>
								<td><input type="file" class="col-11" id="input-img"></td>
								<td><div id="output-img"
										style="width: 100px; height: 80px;"></div></td>
							</tr>
							<tr>
								<td class="col-3">Id</td>
								<td><div class="col-11" id="input-id"></div></td>
							</tr>
							<tr>
								<td class="col-3">Tên sản phẩm</td>
								<td><div class="col-11" id="input-name"></div></td>
							</tr>
							<tr>
								<td class="col-3">Danh mục sản phẩm</td>
								<td><select class="col-11" id="input-category"></select></td>
							</tr>
							<tr>
								<td class="col-3">Mới</td>
								<td><select class="col-11" id="input-hot">
										<option>True</option>
										<option>False</option>
								</select></td>
							</tr>
							<tr>
								<td class="col-3">Giá sản phẩm</td>
								<td><input class="col-11" id="input-price"></td>
							</tr>
							<tr>
								<td class="col-3">Mô tả</td>
								<td><input class="col-11" id="input-descriptions"></td>
							</tr>
							<tr>
								<td class="col-3">Chất liệu</td>
								<td><input class="col-11" id="input-metarial"></td>
							</tr>
							<tr>
								<td class="col-3">Số lượng</td>
								<td><input class="col-11" id="input-quantity"></td>
							</tr>
							<tr>
								<td class="col-3">Giảm giá</td>
								<td><input class="col-11" id="input-discount"></td>
							</tr>
							<tr>
								<td class="col-3">Tính năng</td>
								<td><input class="col-11" id="input-feature"></td>
							</tr>
							<tr>
								<td class="col-3">Kích cỡ</td>
								<td><input class="col-11" id="input-size"></td>
							</tr>
							<tr>
								<td class="col-3">Hãng</td>
								<td><input class="col-11" id="input-brand"></td>
							</tr>
							<tr>
								<td class="col-3">Màu sắc</td>
								<td><input class="col-11" id="input-color"></td>
							</tr>
							<tr>
								<td class="col-3">Ngày tạo</td>
								<td><input type="date" class="col-11" id="input-date"></td>
							</tr>
						</tbody>
					</table>
					<div>
						<button type="button" class="btn btn-primary col-2" id="btn_save">Lưu</button>
						<a type="button" class="btn btn-secondary col-2" id="btn_cancel">Huỷ</a>
					</div>
				</div>
			</div>
		</div>
	</div>




	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.1/js/bootstrap.bundle.min.js"></script>
</body>
</html>
